img {
    width: 200px;
}

button {
    margin-top: 15px;
}
.ambulance{
	display: inline;
    height:500px;
    width:350px;
    display: none;
}
.foood{
display:flex ;
    
}

.dinner{
	display: none;
    height:500px;
    width:350px;
}
.homer-reply {
    padding: 15px;
    display: inline;
}